<div class="card">

    <div class="card-body">

        <div class="table-responsive">

            <table
                id="interestTable"
                class="table table-striped table-hover">

                <thead>

                    <tr>

                        <th>Image</th>

                        <th>Product</th>

                        <th>Total Order</th>

                        <th>Total Qty</th>

                        <th>Action</th>

                    </tr>

                </thead>

                <tbody>

                    <% products.forEach(product => { %>

                    <tr>

                        <td>

                            <% if(product.photo_path){ %>

                                <img
                                    src="<%= product.photo_path %>"
                                    width="60"
                                    class="rounded">

                            <% } %>

                        </td>

                        <td>

                            <%= product.produk %>

                        </td>

                        <td>

                                <%= product.total_order %>


                        </td>

                        <td>

                            <%= product.total_qty %>

                        </td>

                        <td>

                            <a
                                href="/interest-orders/<%= encodeURIComponent(product.image_msg_id) %>"
                                class="btn btn-primary btn-sm">

                                Detail

                            </a>

                        </td>

                    </tr>

                    <% }) %>

                </tbody>

            </table>

        </div>

    </div>

</div>
<script>

$(document).ready(function(){

    $('#interestTable').DataTable({

        pageLength: 10,

        order: [
            [2,'desc']
        ],

        responsive: true

    });

});

</script>